@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1c1c1c;
  user-select: none;
  scroll-behavior: smooth;
}

/* loader css */
.lds-ring {
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 6px;
  border: 6px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loader css ends */

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: inherit;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c0c0;
  border: 1px solid #383838;
}
